*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Root Variable Definitions */
:root {
  --color-1: #030d3d;
  --color-2: #3c3c6b;
  --color-3: white;
}

/* Body Styles */
body {
  background-color: var(--color-1);
  color: var(--color-3);
}
img {
  max-width: 100%;
  max-height: 100%;
}

/* hero Styles */
.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.logo {
  margin-top: 3rem;
  display: inline-block;
  width: calc(6rem + 5vw);
  height: auto;
  animation: logo infinite 4s forwards;
}
@keyframes logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#name {
  font-size: clamp(1.5rem, 5vw, 4rem);
  margin: 5rem auto 1rem;
}
.description {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 500;
  font-style: italic;
}
.start {
  display: flex;
  padding: 1rem;
  width: 30rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}
.start input,
.start button {
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  width: min(45rem, 90%);
  margin: 10% auto;
  background-color: rgba(255, 255, 255, 0.055);
  padding: 3rem 2rem;
  border-radius: 1rem;
}
.container button {
  padding: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  font-size: clamp(0.8rem, 2.5vw, 1.8rem);
}

#quizContainer {
  width: min(45rem, 90%);
}
