*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Root Variable Definitions */
:root {
  --color-1: #030d3d;
  --color-2: #3c3c6b;
  --color-3: white;
}

/* Body Styles */
body {
  background-color: var(--color-1);
  color: var(--color-3);
}
img {
  max-width: 100%;
  max-height: 100%;
}

/* hero Styles */
.hero {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.logo {
  margin: 1.5rem;
  align-self: flex-start;
  display: inline-block;
  width: calc(5rem + 3vw);
  height: auto;
  animation: logo infinite 4s forwards;
}
#logo {
}
@keyframes logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#name {
  font-size: clamp(1.5rem, 5vw, 4rem);
  margin: 5rem auto;
}
.description {
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 500;
  
}
