<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz - Home</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="stylesheet" href="../static/quiz.css" />
  </head>
  <body>
    <div class="hero">
      <div class="logo">
        <img src="../static/image/logo.png" alt="logo" id="image" />
      </div>
      <div>
        <h1 id="name">Welcome to Quiz</h1>
      </div>
      <div>
        <p class="description">Challenge yourself with exciting quizzes!</p>
      </div>
      <div class="start">
        <input
          type="number"
          id="numQuestionsInput"
          placeholder="Enter number of questions"
        />
        <button id="startButton" onclick="startQuiz()">Start Quiz</button>
      </div>
    </div>
    <script src="../static/js/home.js"></script>
  </body>
</html>
