<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz-Ongoing</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <div class="container">
      <div id="quizContainer"></div>
      
      <button
        id="nextButton"
        onclick="loadNextQuestion()"
        style="display: none"
      >
        Next Question
      </button>
    </div>

    <script src="../static/js/quiz.js"></script>
  </body>
</html>
